body {
	text-align: center;
	background-color: rgb(32, 33, 36);
	color: rgb(255, 255, 255);
	font-style: italic;
}
.div0{
	border: none;
	box-shadow: 0px 0px 20px rgb(53, 54, 58);
	margin-left: 5%;
	margin-right: 5%;
	height: 80vh;
	border-radius: 5px;
}
.btn {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 1%;
	margin-left: 1%;
	margin-right: 1%;
	width: 300px;
	padding: 20px;
	border: solid 1px rgb(53, 54, 58);
	border-radius: 20px;
	background: none;
	font-weight: bold;
	cursor: pointer;
	color: rgb(255, 255, 255);
	font-style: italic;
}
.btn1 {
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
	margin-right: 1%;
	width: 300px;
	padding: 20px;
	border: solid 1px rgb(53, 54, 58);
	border-radius: 20px;
	background: none;
	font-weight: bold;
	cursor: pointer;
	color: rgb(255, 255, 255);
	font-style: italic;
}
.btn2 {
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
	margin-right: 1%;
	width: 200px;
	padding: 15px;
	border: solid 1px rgb(53, 54, 58);
	border-radius: 15px;
	background: none;
	color: rgb(0, 100, 255);
	font-weight: bold;
	cursor: pointer;
	font-style: italic;
}